@media screen and (max-width: 768px) {
  .search {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media screen and (max-width:344px) {
  .search input {
    margin-top: 10px;
    width: 20vh;
  }

}

@media screen and (max-width: 279px) {
  header nav a {
    padding: 10px;
  }
}